:root {
  --color--disabled: #888;
  --color-bar-caret: gray;
  --color-bar-link--disabled: #cccccc;
  --color-bar-link--hover: #cccccc;
  --color-bar-link: #cccccc;
  --color-bar-status: #fff;
  --color-bar: #999999;
  --color-button: #fff;
  --color-code-block: #e6e6e6;
  --color-description: #666;
  --color-input--invalid: #f00;
  --color-input--valid: #090;
  --color-input: #000;
  --color-link--hover: #009;
  --color-link: #009;
  --color-menu-caret: gray;
  --color-menu-link--current: #fff;
  --color-menu-link--hover: #009;
  --color-menu-link: #009;
  --color-menu-status: #fff;
  --color-output: inherit;
  --color-stack-link--active: #900;
  --color-stack-link--focus: #900;
  --color-stack-link--hover: #009;
  --color-stack-link: #009;
  --color-status: #f00;
  --color-tab-link--active: #900;
  --color-tab-link--focus: #900;
  --color-tab-link--hover: #009;
  --color-tab-link: #009;
  --color-title: #66a;
  --color: #000;
  --fill-alert--error: #fcc;
  --fill-alert--info: #ccf;
  --fill-alert--success: #cfc;
  --fill-alert: #eee;
  --fill-bar-status: #f00;
  --fill-bar: #1a1a1a;
  --fill-button--hover: #009;
  --fill-button: #009;
  --fill-code-block: #1a1a1a;
  --fill-file-icon: #fea;
  --fill-fix: #dda;
  --fill-folder-icon: #d00;
  --fill-input--disabled: #ffffdd;
  --fill-input--read-only: #ffffdd;
  --fill-input: #ffa;
  --fill-menu-link--current: #d00;
  --fill-menu-link--hover: #eef;
  --fill-menu-status: #f00;
  --fill-menu: #fff;
  --fill-tag-picker__tag--disabled: #ff3333;
  --fill-tag-picker__tag--focus: #cc0000;
  --fill-tag-picker__tag--read-only: #ff1a1a;
  --fill-tag-picker__tag: #f00;
  --fill: #fff;
  --shadow-button: 0 1px 1px rgba(0, 0, 0, 0.5);
  --shadow-input--disabled: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --shadow-input--read-only: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --shadow-menu: 0 1px 5px rgba(0, 0, 0, 0.5);
  --shadow-option-picker__options: 0 1px 5px rgba(0, 0, 0, 0.5);
  --shadow-stack--current: inset 3px 0 0 #ccf;
  --shadow-stack-link: inset 3px 0 0 #cfc;
  --shadow-stack: inset 3px 0 0 #fcc;
  --shadow-tab--current: inset 0 3px 0 #ccf;
  --shadow-tab-link: inset 0 3px 0 #cfc;
  --shadow-tab: inset 0 3px 0 #fcc;
  --shadow-tag-picker__tag--disabled: none;
  --shadow-tag-picker__tag: 0 1px 1px rgba(0, 0, 0, 0.5);
  --stroke-file-icon: #000;
  --stroke-input--invalid: #f00;
  --stroke-input--valid: #090;
  --stroke-input: #000;
  --stroke: #888;
  --color-bar-link--focus: #e6e6e6;
  --color-bar-link--active: #e6e6e6;
  --color-bar-link--current: #e6e6e6;
  --color-button--hover: #fff;
  --shadow-input--hover: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --color-button--focus: #fff;
  --shadow-input--focus: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --color-button--active: #fff;
  --shadow-input--active: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --color-button--disabled: #fff;
  --shadow-input--disabled: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --fill-button--focus: #900;
  --fill-button--active: #900;
  --color-input--hover: #000;
  --fill-input--hover: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --stroke-input--hover: #000;
  --color-input--focus: #000;
  --fill-input--focus: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --stroke-input--focus: #000;
  --color-input--active: #000;
  --fill-input--active: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  --stroke-input--active: #000;
  --color-link--focus: #900;
  --color-menu-link--focus: #900;
  --color-link--active: #900;
  --color-menu-link--active: #900;
  --fill-file--active: #d5d5ff;
  --fill-file--current: #fec;
  --fill-file--focus: #eef;
  --fill-file--hover: #eef;
  --stroke-file--active: #d5d5ff;
  --stroke-file--current: #fec;
  --stroke-file--focus: #eef;
  --stroke-file--hover: #eef;
  --fill-folder--active: #d5d5ff;
  --fill-folder--current: #fec;
  --fill-folder--focus: #eef;
  --fill-folder--hover: #eef;
  --stroke-folder--active: #d5d5ff;
  --stroke-folder--current: #fec;
  --stroke-folder--focus: #eef;
  --stroke-folder--hover: #eef;
  --fill-page--active: #d5d5ff;
  --fill-page--current: #fec;
  --fill-page--focus: #eef;
  --fill-page--hover: #eef;
  --stroke-page--active: #d5d5ff;
  --stroke-page--current: #fec;
  --stroke-page--focus: #eef;
  --stroke-page--hover: #eef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

.description,
blockquote,
caption,
figcaption {
  color: var(--color-description);
}

fieldset,
table td,
table th {
  border-color: var(--stroke-input);
}

input[type=checkbox] {
  --fill-button--hover: #090;
  --fill-button: #090;
}
input[type=checkbox]:checked::before {
  box-shadow: none;
}
input[type=checkbox]:focus {
  --fill-button--focus: #006600;
}
input[type=checkbox]:active {
  --fill-button--active: #006600;
}
input[type=radio] {
  --fill-button--hover: #08a;
  --fill-button: #08a;
}
input[type=radio]:focus {
  --fill-button--focus: #005f77;
}
input[type=radio]:active {
  --fill-button--active: #005f77;
}
input[type=checkbox],
input[type=radio] {
  --fill-button--disabled: #888;
  --shadow-button: inset 0 1px 1px rgba(0, 0, 0, .125);
}
input[type=checkbox]::before,
input[type=radio]::before {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

[pattern]:focus:valid,
[required]:focus:valid {
  --stroke--focus-visible: rgba(0, 153, 0, 0.25);
}
[pattern]:focus:invalid,
[required]:focus:invalid {
  --stroke--focus-visible: rgba(255, 0, 0, 0.25);
}

[role=alert].type\:error {
  background: var(--fill-alert--error, --fill-alert);
  border-color: var(--stroke-alert--error, --stroke-alert);
  color: var(--color-alert--error, --color-alert);
}
[role=alert].type\:info {
  background: var(--fill-alert--info, --fill-alert);
  border-color: var(--stroke-alert--info, --stroke-alert);
  color: var(--color-alert--info, --color-alert);
}
[role=alert].type\:success {
  background: var(--fill-alert--success, --fill-alert);
  border-color: var(--stroke-alert--success, --stroke-alert);
  color: var(--color-alert--success, --color-alert);
}

.is\:folder::after {
  --fill-folder-icon: #910000;
}

.lot\:file:hover,
.lot\:file:focus {
  --fill-file--current: #ffe6b3;
  --stroke-file--current: #ffe6b3;
}
.lot\:file:active {
  --fill-file--current: #ffdd99;
  --stroke-file--current: #ffdd99;
}

.lot\:folder:hover,
.lot\:folder:focus {
  --fill-folder--current: #ffe6b3;
  --stroke-folder--current: #ffe6b3;
}
.lot\:folder:active {
  --fill-folder--current: #ffdd99;
  --stroke-folder--current: #ffdd99;
}

.lot\:page:hover,
.lot\:page:focus {
  --fill-page--current: #ffe6b3;
  --stroke-page--current: #ffe6b3;
}
.lot\:page:active {
  --fill-page--current: #ffdd99;
  --stroke-page--current: #ffdd99;
}

.as\:separator {
  opacity: 0.125;
}

.lot\:bar .lot\:field input {
  --color-input: var(--fill);
  --fill-input: var(--color);
}
.lot\:bar .lot\:field input:hover {
  --color-input--hover: var(--fill);
  --fill-input--hover: var(--color);
}
.lot\:bar .lot\:field input:focus {
  --color-input--focus: var(--fill);
  --fill-input--focus: var(--color);
}
.lot\:bar .lot\:field input:active {
  --color-input--active: var(--fill);
  --fill-input--active: var(--color);
}

.lot\:field.type\:toggle input[type=checkbox] {
  --fill-button--hover: #c00;
  --fill-button: #c00;
}
.lot\:field.type\:toggle input[type=checkbox]:focus {
  --fill-button--focus: #990000;
}
.lot\:field.type\:toggle input[type=checkbox]:active {
  --fill-button--active: #990000;
}
.lot\:field.type\:toggle input[type=checkbox]:checked {
  --fill-button--hover: #090;
  --fill-button: #090;
}
.lot\:field.type\:toggle input[type=checkbox]:checked:focus {
  --fill-button--focus: #006600;
}
.lot\:field.type\:toggle input[type=checkbox]:checked:active {
  --fill-button--active: #006600;
}

.lot\:files .lot\:tasks,
.lot\:folders .lot\:tasks,
.lot\:pages .lot\:tasks {
  gap: 0;
}
.lot\:files .lot\:tasks > * .title svg + span,
.lot\:folders .lot\:tasks > * .title svg + span,
.lot\:pages .lot\:tasks > * .title svg + span {
  display: none;
}

.lot\:menu a:hover,
.lot\:menu a:focus,
.lot\:menu a:active {
  --fill-menu-link--current: #c40000;
}

@media (min-width: 719px) {
  .lot\:bar .lot\:links.of\:lot {
    background: var(--fill);
    color: var(--color);
  }
  .lot\:bar .lot\:links.of\:lot > ul > li > a {
    color: var(--color-link);
  }
  .lot\:bar .lot\:links.of\:lot > ul > li > a:hover {
    color: var(--color-link--hover, var(--color-link));
  }
  .lot\:bar .lot\:links.of\:lot > ul > li > a:focus {
    color: var(--color-link--focus, var(--color-link));
  }
  .lot\:bar .lot\:links.of\:lot > ul > li > a:active {
    color: var(--color-link--active, var(--color-link));
  }
  .lot\:bar .lot\:links.of\:lot > ul > li.is\:active > a {
    background: var(--fill);
    color: var(--color);
    position: relative;
    z-index: 9999;
  }
}