$color-input--invalid: #f00;
$color-input--valid: #090;

:root {
  --color-bar-caret: darken(#fff, 50%);
  --color-bar-link--disabled: #{darken(#fff, 20%)};
  --color-bar-link--hover: #{darken(#fff, 20%)};
  --color-bar-link: #{darken(#fff, 20%)};
  --color-bar: #{darken(#fff, 40%)};
  --color-button: #fff;
  --color-code-block: #fee;
  --color-description: #888;
  --color-input--invalid: #{$color-input--invalid};
  --color-input--valid: #{$color-input--valid};
  --color-input: #000;
  --color-link--hover: #009;
  --color-link: #009;
  --color-menu-caret: darken(#fff, 50%);
  --color-title: #66a;
  --color: #000;
  --fill-alert--error: #fcc;
  --fill-alert--success: #cfc;
  --fill-alert-info: #ccf;
  --fill-alert: #eee;
  --fill-bar: #{lighten(#000, 10%)};
  --fill-button--hover: #009;
  --fill-button: #009;
  --fill-code-block: #333;
  --fill-file-icon: #fea;
  --fill-fix: #dda;
  --fill-folder-icon: #d00;
  --fill-input: #ffa;
  --fill-menu-link--current: #d00;
  --fill-menu-link--hover: #eef;
  --fill-tag-picker__tag--focus: #a00;
  --fill-tag-picker__tag: #f00;
  --fill: #fff;
  --shadow-button: 0 1px 1px rgba(0, 0, 0, .25);
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --shadow-tab--current: inset 0 3px 0 #ccf;
  --shadow-tab-link: inset 0 3px 0 #cfc;
  --shadow-tab: inset 0 3px 0 #fcc;
  --shadow-tag-picker__tag: 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-file-icon: #000;
  --stroke-input--invalid: #{$color-input--invalid};
  --stroke-input--valid: #{$color-input--valid};
  --stroke-input: #000;
  --stroke: #888;
  @each $v in (current, focus, active) {
    --color-bar-link--#{$v}: #{darken(#fff, 10%)};
  }
  @each $v in (active, disabled, focus, hover) {
    --color-button--#{$v}: #fff;
  }
  @each $v in (active, focus) {
    --fill-button--#{$v}: #900;
  }
  @each $v in (active, disabled, focus, hover) {
    --color-input--#{$v}: #000;
    --fill-input--#{$v}: #ffa;
    --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
    --stroke-input--#{$v}: #000;
  }
  @each $v in (active, focus) {
    --color-link--#{$v}: #900;
  }
  @each $v in (file, folder, page) {
    --fill-#{$v}--current: #fec;
    --fill-#{$v}--hover: #eef;
  }
}

$fill-item: #08a;
$fill-items: #090;

$fill-toggle--checked: #090;
$fill-toggle: #c00;


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

blockquote,
figcaption,
caption,
.description {
  color: var(--color-description);
}

[pattern],
[required] {
  &:focus {
    &:valid {
      --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px #{rgba($color-input--valid, .25)};
    }
    &:invalid {
      --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px #{rgba($color-input--invalid, .25)};
    }
  }
}

.as\:separator {
  opacity: .125;
}

.lot\:bar {
  .lot\:field {
    .input {
      --color-input: var(--fill);
      --fill-input: var(--color);
    }
  }
}

.input {
  &[type='checkbox'] {
    --fill-button--hover: #{$fill-items};
    --fill-button: #{$fill-items};
    &:checked {
      &::before {
        box-shadow: none;
      }
    }
    &:focus {
      --fill-button--active: #{darken($fill-items, 10%)};
      --fill-button--focus: #{darken($fill-items, 10%)};
    }
  }
  &[type='radio'] {
    --fill-button--hover: #{$fill-item};
    --fill-button: #{$fill-item};
    &:focus {
      --fill-button--active: #{darken($fill-item, 10%)};
      --fill-button--focus: #{darken($fill-item, 10%)};
    }
  }
  &[type='checkbox'],
  &[type='radio'] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
    &::before {
      box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
    }
  }
}

// label {
//   &.is\:locked {
//     opacity: 1;
//     > .input {
//       &[type='checkbox'] {
//         + span {
//           color: darken($fill-items, 10%);
//         }
//       }
//       &[type='radio'] {
//         + span {
//           color: darken($fill-item, 10%);
//         }
//       }
//     }
//   }
// }

.field\:toggle {
  .input {
    &[type='checkbox'] {
      --fill-button--hover: #{$fill-toggle};
      --fill-button: #{$fill-toggle};
      &:focus {
        --fill-button--active: #{darken($fill-toggle, 10%)};
        --fill-button--focus: #{darken($fill-toggle, 10%)};
      }
      &:checked {
        --fill-button--hover: #{$fill-toggle--checked};
        --fill-button: #{$fill-toggle--checked};
        &:focus {
          --fill-button--active: #{darken($fill-toggle--checked, 10%)};
          --fill-button--focus: #{darken($fill-toggle--checked, 10%)};
        }
      }
    }
  }
}

@media (min-width: 719px) {
  .lot\:bar {
    .lot\:links {
      .is\:main {
        background: var(--fill);
        color: var(--color);
        &.is\:active {
          > a {
            background: inherit;
            color: inherit;
            position: relative;
            z-index: 9999; /* Must be greater than the `.lot\:menu` index to hide the top shadow from its drop menu */
          }
        }
        > a {
          color: var(--color-link);
          @each $v in (hover, focus, active) {
            &:#{$v} {
              color: var(--color-link--#{$v}, var(--color-link));
            }
          }
        }
      }
    }
  }
}