:root {
  --color-bar-caret: darken(#fff, 50%);
  --color-bar-link--disabled: #cccccc;
  --color-bar-link--hover: #cccccc;
  --color-bar-link: #cccccc;
  --color-bar: #999999;
  --color-button: #fff;
  --color-code-block: #fee;
  --color-description: #888;
  --color-input--invalid: #f00;
  --color-input--valid: #090;
  --color-input: #000;
  --color-link--hover: #009;
  --color-link: #009;
  --color-menu-caret: darken(#fff, 50%);
  --color-title: #66a;
  --color: #000;
  --fill-alert--error: #fcc;
  --fill-alert--success: #cfc;
  --fill-alert-info: #ccf;
  --fill-alert: #eee;
  --fill-bar: #1a1a1a;
  --fill-button--hover: #009;
  --fill-button: #009;
  --fill-code-block: #333;
  --fill-file-icon: #fea;
  --fill-fix: #dda;
  --fill-folder-icon: #d00;
  --fill-input: #ffa;
  --fill-menu-link--current: #d00;
  --fill-menu-link--hover: #eef;
  --fill-tag-picker__tag--focus: #a00;
  --fill-tag-picker__tag: #f00;
  --fill: #fff;
  --shadow-button: 0 1px 1px rgba(0, 0, 0, .25);
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --shadow-tab--current: inset 0 3px 0 #ccf;
  --shadow-tab-link: inset 0 3px 0 #cfc;
  --shadow-tab: inset 0 3px 0 #fcc;
  --shadow-tag-picker__tag: 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-file-icon: #000;
  --stroke-input--invalid: #f00;
  --stroke-input--valid: #090;
  --stroke-input: #000;
  --stroke: #888;
  --color-bar-link--current: #e6e6e6;
  --color-bar-link--focus: #e6e6e6;
  --color-bar-link--active: #e6e6e6;
  --color-button--active: #fff;
  --color-button--disabled: #fff;
  --color-button--focus: #fff;
  --color-button--hover: #fff;
  --fill-button--active: #900;
  --fill-button--focus: #900;
  --color-input--active: #000;
  --fill-input--active: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-input--active: #000;
  --color-input--disabled: #000;
  --fill-input--disabled: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-input--disabled: #000;
  --color-input--focus: #000;
  --fill-input--focus: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-input--focus: #000;
  --color-input--hover: #000;
  --fill-input--hover: #ffa;
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25);
  --stroke-input--hover: #000;
  --color-link--active: #900;
  --color-link--focus: #900;
  --fill-file--current: #fec;
  --fill-file--hover: #eef;
  --fill-folder--current: #fec;
  --fill-folder--hover: #eef;
  --fill-page--current: #fec;
  --fill-page--hover: #eef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

blockquote,
figcaption,
caption,
.description {
  color: var(--color-description);
}

[pattern]:focus:valid,
[required]:focus:valid {
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(0, 153, 0, 0.25);
}
[pattern]:focus:invalid,
[required]:focus:invalid {
  --shadow-input: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(255, 0, 0, 0.25);
}

.as\:separator {
  opacity: 0.125;
}

.lot\:bar .lot\:field .input {
  --color-input: var(--fill);
  --fill-input: var(--color);
}

.input[type=checkbox] {
  --fill-button--hover: #090;
  --fill-button: #090;
}
.input[type=checkbox]:checked::before {
  box-shadow: none;
}
.input[type=checkbox]:focus {
  --fill-button--active: #006600;
  --fill-button--focus: #006600;
}
.input[type=radio] {
  --fill-button--hover: #08a;
  --fill-button: #08a;
}
.input[type=radio]:focus {
  --fill-button--active: #005f77;
  --fill-button--focus: #005f77;
}
.input[type=checkbox],
.input[type=radio] {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
.input[type=checkbox]::before,
.input[type=radio]::before {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.field\:toggle .input[type=checkbox] {
  --fill-button--hover: #c00;
  --fill-button: #c00;
}
.field\:toggle .input[type=checkbox]:focus {
  --fill-button--active: #990000;
  --fill-button--focus: #990000;
}
.field\:toggle .input[type=checkbox]:checked {
  --fill-button--hover: #090;
  --fill-button: #090;
}
.field\:toggle .input[type=checkbox]:checked:focus {
  --fill-button--active: #006600;
  --fill-button--focus: #006600;
}

@media (min-width: 719px) {
  .lot\:bar .lot\:links .is\:main {
    background: var(--fill);
    color: var(--color);
  }
  .lot\:bar .lot\:links .is\:main.is\:active > a {
    background: inherit;
    color: inherit;
    position: relative;
    z-index: 9999;
    /* Must be greater than the `.lot\:menu` index to hide the top shadow from its drop menu */
  }
  .lot\:bar .lot\:links .is\:main > a {
    color: var(--color-link);
  }
  .lot\:bar .lot\:links .is\:main > a:hover {
    color: var(--color-link--hover, var(--color-link));
  }
  .lot\:bar .lot\:links .is\:main > a:focus {
    color: var(--color-link--focus, var(--color-link));
  }
  .lot\:bar .lot\:links .is\:main > a:active {
    color: var(--color-link--active, var(--color-link));
  }
}